.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  background-color: rgb(240, 233, 233);
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -130px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.carousel-container {
  width: 100%;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.slick-list {
  /* position: absolute; */
  width: 100%;
}
