.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  transition: transform 450ms;
}

.product::-webkit-scrollbar {
  display: none;
}

.product:hover {
  transform: scale(1.04);
}

.product__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__button {
  background: rgb(108, 201, 231);
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 5px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
  width: 100%;
}
